
.aboutContainer {

    width: 100%;
    height: 90vh;
    height: 90svh;
    display: flex;
    align-items: center;
    place-items: center;
    background-color: #2b2d32;      
}


.aboutContent{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto; 
}

.aboutDiv{

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.5rem;   
    flex-direction: column;
}


.aboutLinks{

    display: flex;
    justify-content: center;
    flex-direction: block;
    align-items: center;
    margin-top: 3rem;     
    gap: 1rem;
    z-index: 1;
}
/*
.aboutLinks a{
    
    font-size: 1.5rem;

}
*/

#downloadButton{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: #f0f0f0;
    font-size: 0.80rem;
}

#downloadButton:hover{

    color: #5ed4f3;
    background-color: #1e1f21;
    filter: drop-shadow(-8px 45px 17px #69b7e42c);    
}

.aboutLinks a , button{
    
    border: 4px inset #FFFFFF;
    border-radius: 40px;
    width: 25%;
    height: 3rem;
    width: 10rem;   
}

.aboutText{    

    padding: 0 10rem 0 10rem;
    font-size: 4rem;
}

#nameText{
    color: #5ed4f3;
}

.aboutWaves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.aboutWaves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.aboutWaves .shape-fill {
    fill: #1E1F21;
}


#typedText{
    color: #5865f2;
}

@media(max-width: 1190px){

    .aboutText{
        font-size: 2rem;
    }

    .aboutWaves svg{

        height: 64px;
    }
}


@media(max-width: 767px){

    .aboutText{
        padding: 0.5rem;
    }

    .aboutLinks{
        margin-top: 1rem;
    }    

    #littleText{
        font-size: 1.5rem;
    }
  
    #dataText{
        font-size: 1.5rem;
    }

    .aboutContent{
        gap: 1rem;
    }
}


@media(max-width: 350px){

    .aboutContainer{

        overflow: hidden;
        
    }

    #littleText{

        font-size: 1.2rem;
    }

    .aboutLinks button, #downloadButton{    
        border: 4px inset #FFFFFF;
        border-radius: 40px;
        width: 25%;
        height: 3rem;
        width: 8rem;   

    }
}

@media(max-height: 529px){

    .aboutWaves{
        visibility: hidden;
    }
}


