button, a{
    cursor: pointer;
    transition: 0.5s ease;
}

button.invertedButton{

    color:#5ed4f3;
}

button:hover, a:hover{
    color: #5ed4f3;
    background-color: #1e1f21;
    filter: drop-shadow(-8px 45px 17px #69b7e42c);
    
}

button.invertedButton:hover{

    color: #1e1f21;
    background-color: #ffff;
}



h2, span{
    align-items: center;
    text-align: center;
    color: #5ed4f3;
}